apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "freezo.fullname" . }}-backend
  labels:
    {{- include "freezo.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      {{- include "freezo.backendSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "freezo.backendSelectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: DB_PATH
              value: "/data/freezer.db"
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "freezo.fullname" . }}
