{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "freezo.fullname" . }}
  labels:
    {{- include "freezo.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.ingress.className }}
  ingressClassName: {{ .Values.ingress.className }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: {{ include "freezo.fullname" $ }}-backend
                port:
                  number: {{ $.Values.service.backendPort }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "freezo.fullname" $ }}-frontend
                port:
                  number: {{ $.Values.service.frontendPort }}
    {{- end }}
{{- end }}
