name: Chart Release

on:
  push:
    branches:
      - main
    paths:
      - 'charts/**'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Initialize gh-pages branch
        run: |
          git fetch origin
          if ! git show-ref --quiet refs/remotes/origin/gh-pages; then
            echo "gh-pages branch not found. Creating it..."
            git checkout --orphan gh-pages
            git rm -rf .
            echo "Helm repository for Freezo" > index.html
            git add index.html
            git commit -m "Initialize gh-pages branch"
            git push origin gh-pages
            git checkout main
          fi

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          charts_dir: charts
          mark_as_latest: false
